body {
  text-align: center;
  background : url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
}

h1 {
  font-size: 50px;
  color: black;
  
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.d {
  outline: none;
  border: 10px solid black;
  font-size: 5rem;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 350px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
p{
  font-size: 20px;
  color: black;
}
